log/*
tmp/*

!public/excels/offers
!public/excels/orders
!public/excels/parts
!public/excels/sent_lists
public/excels/offers/*
public/excels/orders/*
public/excels/parts/*
public/excels/sent_lists/*

public/assets/*

!public/images
public/images/*

config/database.yml
config/secrets.yml

*.lock
!.gitignore
