/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

/storage/*
!/storage/.keep

/public/assets
.byebug_history

/config/master.key

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

.DS_Store
package-lock.json
config/application.yml

/public/excels/expends/*
!/public/excels/expends/
!/public/excels/expends/.keep

/public/excels/incomes/*
!/public/excels/incomes/
!/public/excels/incomes/.keep

/public/excels/offers/*
!/public/excels/offers/
!/public/excels/offers/.keep

/public/excels/orders/*
!/public/excels/orders/
!/public/excels/orders/.keep

/public/excels/parts/*
!/public/excels/parts/
!/public/excels/parts/.keep

/public/excels/sent_lists/*
!/public/excels/sent_lists/
!/public/excels/sent_lists/.keep
