log/*
tmp/*

!public/excels/offers/
!public/excels/orders/
!public/excels/parts/
!public/excels/sent_lists/
!public/excels/incomes/
!public/excels/expends/
public/excels/offers/*
public/excels/orders/*
public/excels/parts/*
public/excels/sent_lists/*
public/excels/incomes/*
public/excels/expends/*

public/assets/*

!public/images
public/images/*

database.yml
config/secrets.yml

*.lock
!.gitignore

# Ignore application configuration
#/config/application.yml

# Mac drectory file
.DS_Store
