<!-- Modal -->
<div class="modal fade" id="addCraftCategory" tabindex="-1" role="dialog" aria-labelledby="addCraftCategoryLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <%= render "craft_categories/form" %>
    </div>
  </div>
</div>