<!-- Modal -->
<!-- 修改总订单时，需要添加新代理商，所以这里手动修改了 弹出框 的 z-index  -->
<div class="modal fade" id="addAgent" tabindex="-1" role="dialog" aria-labelledby="addAgentLabel" style="z-index: 1051;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addAgentLabel"> 代理商 <small>新建</small></h4>
      </div>
      <%= render 'agents/form' %>
    </div>
  </div>
</div>