<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title"><h2><i class="fa fa-lg fa-desktop"></i> 经销商 <small>编辑</small> </h2></div>
    <div class="panel-options">
      <%= link_to '返回', agents_path, class: 'btn btn-info', data: { toggle: 'tooltip', title: '返回到经销商列表'} %>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <%= render 'form' %>
  </div>
</div>