<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-lg fa-desktop"></i> 供应商 <small>编辑</small> </h2>
      <div class="pull-right panel-options">
        <%= link_to '返回', supplies_path, class: 'btn btn-info', data: { toggle: 'tooltip', title: '返回到供应商列表'} %>
      </div>
    </div>
  </div>
  <div class="content-box-large box-with-header">
    <%= render 'form' %>
  </div>
</div>