body {
  position: relative;
}

#banner {
  .bg-holder {
    background-image: url(../images/bg-1.jpg);
    background-position: center bottom;
  }
}

// devise 页面样式
.bg-auth-card-shape {
  background-image: url(../images/half-circle.png);
}
