<!-- Modal -->
<div class="modal fade" id="addIndent" role="dialog" aria-labelledby="addIndentLabel">
	<div class="modal-dialog modal-lg" role="document" style="width: 80%;">
		<div class="modal-content">
			<%= render "indents/form" %>
		</div>
	</div>
</div>
<%= render 'agents/new' %>