<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <!-- Page title -->
    <div class="panel-title">
      <h2 class="pull-left"><i class="fa fa-desktop color"></i> 待发货 <small>列表</small>
      </h2>
    </div>
  </div>
  <!-- Page title -->
  <div class="content-box-large box-with-header">
    <table class="table table-hover table-striped table-bordered table-condensed text-center">
      <thead>
        <tr class="info">
          <td>发货</td>
          <td>客户单号</td>
          <td>接单时间</td>
          <td>经销商</td>
        </tr>
      </thead>
      <tbody>
        <% @indents.each do |indent|%>
        <tr>
          <td><%= link_to '开始发货', sent_path(indent), class: 'detail-link' %></td>
          <td><%= link_to indent.name, indent_path(indent), class: 'detail-link' %></td>
          <td><%= indent.created_at.localtime.strftime("%Y-%m-%d")%></td>
          <td><%= indent.agent.try(:name) %></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>