<div class="panel-warning">
  <div class="content-box-header panel-heading">
    <div class="panel-title"><h2><i class="fa fa-lg fa-desktop"></i> 角色权限 <small>编辑</small> </h2></div>
    <div class="panel-options">
      
    </div>
  </div>
  <div class="content-box-large box-with-header">
      <div class="panel-body">
        <%= render 'form' %>
      </div>
  </div>
</div>