body {
  // font-size: 12px !important;

  & .container-fluid {
    min-height: 768px;
    padding: 0px;

    & .static-index-page .row {
      margin-right: 0px;
      margin-left: 0px
    }
  }
  // 头部导航样式
  & .header {
    & .row {
      margin-right: 0px;
      margin-left: 0px
    }
    & .logo h1{
      padding: 7px 0;
    }
    & nav a {
      color: #fff
    }
    & nav a:hover {
      border-radius: 1px;
      color: #000
    }
  }
  // 左边导航菜单样式
  & .sidebar .nav li {
    border-bottom: none !important;

    &.open > a {
      border-radius: 3px;
      border-bottom: none !important;
      background: #5881A8 !important;
      color: #fff !important
    }
    & > a:hover {
      border-radius: 3px;
      background: #CDE1F4 !important;
      color: #000 !important;
      border-bottom: 0px
    }
    & li.active > a {
      border-radius: 3px;
      background: #659BCF !important;
      color: #fff !important
    }
  }
  // 页脚版权样式
  & footer {
    & .copy {
      margin: 0 !important
    }
    & a {
      color: #428bca !important
    }
  }
  // 内容标题样式
  & .page-content {
    & .panel-info {
      & .panel-heading {
        & span {
          font-size: 17px;
          font-weight: bold
        }
        & small {
          color: #000;
          font-size: 11px;
          padding-left: 5px
        }
        & a:hover, a:focus {
          text-decoration: none
        }
      }
    }
    & .panel-warning {
      & .panel-heading {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;

        & .panel-title {
          margin-top: 2px;

          & .fa {
            padding-right: 10px
          }
        }
        & .panel-options {
          & .btn {
            margin-top: 1px
          }
        }
      }
      // 个人首页信息分组样式
      & .box-with-header {
        & .content-box-header {
          border-left: solid 1px #DADADA;
          border-right: solid 1px #DADADA;
          border-top: solid 1px #DADADA
        }
        & .panel-options {
          border-left: solid 1px #DADADA;
          border-right: solid 1px #DADADA;
          border-bottom: solid 1px #DADADA;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          & .table {
            margin-bottom: 0px
          }
        }
        & .content-title {
          margin-bottom: 20px
        }
      }
    }
  }
}
// .sidebar.content-box {
//   padding: 5px !important;
//   & a {
//     padding: 8px !important;
//   }
//   & li.submenu, li.open {
//     text-align: center;
//   }
// }

input[type='select'], input[type='phone'], input[type='password']{
  padding: 6px 3px !important;
}
select {
  padding-left: 3px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
input[type='text'], input[type='number'] {
  padding: 3px !important;
}
label {
  margin: 6px 0;
  padding: 0px 3px !important;
}
//修改 select2 样式 开始
.select2.select2-container {
  & .select2-selection.select2-selection--single {
    height: 34px !important;
    // 文字内补
    & .select2-selection__rendered {
      // padding: 4px 20px 4px 5px!important;
    }
    // 箭头内补
    & .select2-selection__arrow {
      padding-top: 12px !important;
      & b {
        margin-top: 0px !important;
      }
    }
  }
}
//修改 select2 样式 结束

// table 统一样式
.table {
  text-align: center;
  & th {
    text-align: center;
    vertical-align: middle !important;
    background-color: #d9edf7
  }
  & .btn-xs.btn-primary {
    text-decoration: none
  }
}
// 去掉所有a标签的外虚线框
a {
  outline: none !important
}
// 模态框样式
.modal .modal-dialog.modal-sm {
  & .modal-body {
    padding-bottom: 0px
  }
  & .modal-footer {
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px
  }
}
// 调整首页轮播图片大小
#carousel-example-generic {
  width: 1366px;
  height: 768px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;

  & img {
    height: 768px;
    width: 1024px;
  }
}
.login-wrapper {
  margin-top: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  & hr {
    margin-bottom: 40px
  }
  & label {
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px
  }
  & .remember_me {
    text-align: left
  }
  & a {
    margin-right: 10px
  }
}
.alert {
  margin: 0px !important
}
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left
}
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left
}
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left
}
label > span {
  &.require {
    color: red;
    padding: 0 3px;
  }
}


.nav-tabs li {
  font-weight: bold;
  font-size: 16px;
  width: 50%;
  color: #999 !important;
  border-color: #cde1f4 !important;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px 4px 0 0;
  // margin-bottom: 0 !important;
  // border-bottom-color: #5881a8 !important;
  & > a {
    padding: 5px !important;
    margin-right: 0px !important;
    border: none !important;
    border-radius: 0 !important;
    &:hover {
      color: #555 !important;
    }
  }
  &.active {
    & > a {
      background-color: #cde1f4 !important;
      // color: #fff !important;
    }
  }
}

.tab-content {
  color: #000;
  background-color: #cde1f4 !important;
  border-color: #cde1f4 !important;
  border-style: solid;
  border-width: 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* 分页样式 */
.pages {
  & ul {
    margin: 0;
  }
}

/* 右边增强功能区（只有待发货页面显示）样式 */
.container-absolute {
  width: 120px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #000;
  opacity: 0.6;
  border-top-left-radius: 4px;
}
.right-sidebar {
  background-color: #EEE !important;
  opacity: 0.9;
  display: none;
  position: fixed;
  margin-bottom: 0px !important;
  width: 200px;
  /*height: 800px;*/
  top: 100px;
  right: 0px;
  bottom: 45px;
  & .panel-heading {
    padding: 3px;
  }
  & .panel-body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    padding: 0;
    position: inherit;
    top: 127px;
    bottom: 82px;
    & .order-sent-list {
      padding-left: 0px;
      margin-bottom: 0px;
      width: 194px;
    }
  }
  & .panel-footer {
    background: none;
    position: inherit;
    text-align: center;
    padding: 3px;
    width: 198px;
    bottom: 45px;
  }
}

/* 右边增强功能区（只有待发货页面显示）样式 */