body{
  & .container-fluid {
    min-height: 768px;
  }
  & .header .row {
    margin-right: 0px;
    margin-left: 0px;
    & nav a:hover{
      border-radius: 3px;
    }
  }

  & .sidebar .nav li  {
    &.open > a {
      border-bottom: none !important;
    }
    & > a:hover {
      border-radius: 3px;
      background: #5881A8 !important;
      color:#fff !important;
      border-bottom: 0px;
    }
  }

  & footer{
    & .copy {
      margin: 0 !important;
    }
    & a {
      color: #428bca !important;
    }
  }
}


// 调整首页轮播图片大小
#carousel-example-generic {
  width: 1000px;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  & img{
    height: 600px;
    width: 100%;
  }
}

.login-wrapper{
  margin-top: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  & hr{
    margin-bottom: 40px;
  }
  & label{
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
  }
  & .remember_me {
    text-align: left;
  }
  & a {
    margin-right: 10px;
  }
}


/*flash*/
.alert{
  margin: 0px !important;
}
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }