.modal {
  & .modal-table{
    width: 100%;
    min-width: 1024px;
  }

  & .indent-orders-title > h4 {
    padding-top: 15px;
  }
  & .indent-orders-delete {
    padding-top: 12px;
  }

  & .indent-new {
    padding: 10px 0;
    margin-bottom: 0px;
  }
}

.offers-panel-heading {
  padding: 2px 10px;
  clear: both;
  & p {
    margin: 0;
  }
  & .panel-heading {
    float: none !important;
    clear: both;
  }
}