.table {
  & td {
    vertical-align: middle !important;
  }
  & .order-show-table {
    & th {
      width: 30%;
      vertical-align: middle !important;
    }
  }
  & .order-show-table-units {
    & th {
      vertical-align: middle !important;
    }
  }
}


.order-panel-header {
  padding: 2px !important;
}


/* 未发货页面样式 */
.order-not-sent {
  & .content-box-large {
    padding: 5px;
    margin-bottom: 5px;
    & .panel-group .panel-body {
      padding: 0;
      & table {
        margin-bottom: 0px;
        & td {
          padding: 2px;
        }
      }
    }
  }
}