.table {
  & td {
    vertical-align: middle !important;
  }
  & .order-show-table {
    & th {
      width: 30%;
      vertical-align: middle !important;
    }
  }
  & .order-show-table-units {
    & th {
      vertical-align: middle !important;
    }
  }
}


.order-panel-header {
  padding: 2px !important;
}