<!-- 漂浮在屏幕右下角 -->
<div class="container-absolute">
  <span><a href="javascript:void(0);" id="sent_list_toggle_href" onclick="toggleSidebar(this);" data-toggle="tooltip" title="显示订单列表"><i class="fa fa-gears"></i></a></span>
  <span><a href="#top-header" data-toggle="tooltip" title="返回顶部"><i class="fa fa-arrow-up"></i></a></span>
</div>
<!-- control-sidebar  -->
<div class="panel panel-success right-sidebar" data-toggle="tooltip" title="点击隐藏面板">
  <div class="panel-heading">
    <span style="font-weight: bold;">发货清单</span>
  </div>
  <div class="panel-body">
  	<%= form_tag '/sent_lists', html: { class: "form-inline", id: "batch_set"}, method: 'post' do %>
  	<%= hidden_field_tag 'sent[ids]', '', id: 'sent_list_ids' %>
	<ul class="order-sent-list">
	</ul>
  </div>
  <div class="panel-footer">
    <%= submit_tag "提交清单", class: 'btn btn-sm btn-success' %>
  </div>
  <% end %>
</div>

<script type="text/javascript">
// 监听页面滚动
$(window).scroll(function(e){
  var $container = $("container-absolute");
  $container.css("top", $container.css("top") + $(window).scrollTop());
});
$(".right-sidebar .panel-body").click(function(e){
  $(this).parents(".right-sidebar").hide();
});
function toggleSidebar(el){
  var $sidebar = $("div.right-sidebar");
  if($sidebar.css("display") != 'none'){
    $sidebar.hide();
  } else {
    $sidebar.show();
  }
}
</script>