<!-- Footer starts -->
<footer>
  <div class="container">
    <div class="copy text-center">
      版权所有 &copy; - <%= link_to '久久居', Rails.env.development? ? templates_path : root_path %>
      &nbsp;&nbsp;备案号：<%= link_to '鄂ICP备16005840号','http://www.miitbeian.gov.cn/' %>
    </div>
  </div>
</footer>
<!-- Footer ends -->