<% if flash.present? && flash.keys.present? %>
  <% flash.each do |k, v| %>
  <% if k.class == String %>
  <script type="text/javascript">
    noty({
      text: "<%= flash[k].gsub('"', '\\"') %>",
      type: "<%= k %>",
      theme: 'bootstrapTheme',
      layout: 'bottomRight',
      // timeout: 8000,
      closeWith: ['button', 'click'],
      template: '<div class="alert alert-<%= k %>"><span class="noty_text"></span><div class="noty_close"></div></div>',
      animation: { // 动画方式
        open: 'animated bounceInDown', // Animate.css 中的class 名称
        close: 'animated bounceOutDown', // Animate.css 中的class 名称
        easing: 'swing', // 非必须。使用 Animate.css 时，此设值无效
        speed: 500 // 非必须。使用 Animate.css 时，此设值无效
      }
    });
  </script>
  <% end %>
  <% end %>
  <% flash.discard %><!-- 清空 flash 信息，防止页面刷新时重复弹出 -->
<% end %>
<%#= devise_error_messages! if devise_error_messages! %>