<%= render 'layouts/frame' do %>
  <body>
    <main class="main" id="top">
      <%= render 'layouts/navbar' %>

      <%= yield %>

      <%= render 'layouts/footer' %>
    </main>
  </body>
<% end %>
