<p>您好， <%= @resource.email %>！</p>

<p>请点击下面的链接，重置您的密码：</p>

<p><%= link_to '重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>此链接 24 小时内有效，过期请重新发送重置请求。如果您未请求重置密码，请忽略此邮件。</p>
<p>如果您未点击上面的链接设置新密码，您的密码将不会改变。</p>
